@{
    ViewData["Title"] = "Deletar Contato";
}

<div class="text-center">
    <h1 class="display-4">Aviso!</h1>
    <p>Você tem certeza que gostaria de deletar esse contato?</p>
    <div class="btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger">Sim</button>
        <button type="button" class="btn btn-secondary ">Cancelar</button>
</div>
</div>