@{
    ViewData["Title"] = "Lista de contatos";
}

<div class="text-center">
    <h1 class="display-4">Contatos</h1>
    <p>Bem vindo à lista de contatos</p>
</div>
<div>
    <button type="button" class="btn btn-primary btn-lg">Criar Contato</button>
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary">Editar</button>
                        <button type="button" class="btn btn-danger">Deletar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>fat</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>
